* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}



section.bg-brown {
    background-color:brown;

}

section.bg-red {
    background-color: red;
}

section.bg-yellow {
    background-color: yellow;

}

section.bg-pink {
    background-color: pink;

}

section.bg-black {
    background-color: black;

}